.heroSection {
  background-image:linear-gradient(to bottom,rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.6), rgba(78, 77, 77, 0.3)), url('/images/hero_bg.jpg');
  background-size: cover;
  background-position: center;
  padding: 4rem;
  color: white;
}

.heroSection h1{
  text-align: center;
  font-size: 4.5rem;
}
.heroSection h3 {
  text-align: center;
  font-size: 2rem;
}

.welcomeSection {
  padding: 2rem 16rem 5rem 16rem;
  position: relative;
  overflow: hidden;
}
.welcomeSection::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 49%;
  width: 100%;
  height: 6rem;
  transform: rotate(-4deg);
  transform-origin: center;
  background-color: #ceb025;
  overflow: hidden;
  z-index: -1;
}
.welcomeSection::before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 49%;
  width: 100%;
  height: 6rem;
  transform: rotate(4deg);
  transform-origin: center;
  background-color: #ceb025;
  overflow: hidden;
  z-index: -1;
}
.welcomeSection h1 {
  text-align: center;

}
.span {
  position: relative;
}

.span:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5px;
  background-color: #006316;
}

.welcomeSection p {
  line-height: 1.8;
}

.imageSection{
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 992px){
  .heroSection h1{
    font-size: 3.5rem;
  }
  .heroSection h3 {
    font-size: 1.5rem;
  }

  .welcomeSection{
    padding: 2rem 8rem 5rem 8rem;
  }
  
}

@media screen and (max-width: 768px) {
  .welcomeSection {
    padding: 2rem 4px;
  }
  .welcomeSection h1 {
    font-size: 3rem;
  }
  .imageSection {
    flex-direction: column;
  }
  .heroSection h1{
    font-size: 2.5rem;
  }
  .heroSection {
    padding: 2rem 0;
  }
  .heroSection h3 {
    font-size: 1rem;
  }
}
